@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 2;
  }
  99% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 2;
  }
  99% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* LOADING SPINNER */
.loader {
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  opacity: 1;
  -webkit-animation: fadeOut 2s forwards;
          animation: fadeOut 2s forwards;
}

.loading-spinner1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 250px;
  border: 5px solid transparent;
  border-radius: 50%;
  border-top-color: #99E2D0;
  -webkit-animation: spin 2500ms linear infinite;
          animation: spin 2500ms linear infinite;
}

.loading-spinner2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  border: 5px solid transparent;
  border-radius: 50%;
  border-right-color: #FF79DA;
  -webkit-animation: spin 4000ms linear infinite;
          animation: spin 4000ms linear infinite;
}

.accueil {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

/* HEADER */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
}

.header__arrow {
  margin-left: 25px;
  color: black;
}

.header__logo {
  width: 160px;
  height: auto;
  margin: auto;
}

/* STYLE GLOBAL MAIN */
main {
  font-family: 'Roboto', sans-serif;
}

/* SECTION BOOKING */
.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.booking__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
}

.booking__form input {
  background-color: #EAEAEA;
  border: none;
  width: 30%;
}

.booking__form input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  color: black;
}

.booking__form input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  color: black;
}

.booking__form input::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  color: black;
}

.booking__form input::placeholder {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  color: black;
}

.information-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
}

.information-container__heading {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 35px;
  font-size: 1.2em;
}

.information-container__byline {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 15px;
}

.information-container__button {
  width: 50%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, #ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 6%, #9356dc 100%);
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 13px 0;
  border: transparent;
  border-radius: 40px;
  margin: 30px 0 60px 0;
  -webkit-box-shadow: 0 8px 8px #CFCFCF;
          box-shadow: 0 8px 8px #CFCFCF;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.information-container__button:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0 12px 12px #B3B3B3;
          box-shadow: 0 12px 12px #B3B3B3;
}

/* SECTION OPERATION */
.h2-heading {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.operation__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
}

.operation__grid__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 75px;
  background-color: #F6F6F6;
  margin-top: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 8px #EAEAEA;
          box-shadow: 0 5px 8px #EAEAEA;
  position: relative;
}

.operation__grid__element__number {
  position: absolute;
  left: 0;
  margin-left: -15px;
  color: #F6F6F6;
  background-color: #9356DC;
  border-radius: 50px;
  padding: 3px 10px;
}

.operation__grid__element--logo1 {
  color: #7E7E7E;
  position: absolute;
  left: 11%;
}

.operation__grid__element--logo2 {
  color: #9356DC;
  position: absolute;
  left: 11%;
}

/* SECTION RESTAURANTS */
.restaurants {
  background-color: #F6F6F6;
}

.restaurants h2 {
  padding-top: 50px;
}

.restaurants__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 20px 0 50px 0;
}

.restaurants__grid__element {
  width: 90%;
  position: relative;
}

.restaurants__grid__element__clickable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  text-decoration: none;
  color: black;
  border-radius: 15px;
  margin: 10px 0;
  position: relative;
}

.restaurants__grid__element__clickable--new {
  position: absolute;
  color: #008766;
  background-color: #99E2D0;
  padding: 3px 12px;
  right: 3%;
  top: 5%;
  border-radius: 2px;
  font-size: 0.9em;
}

.restaurants__grid__element__clickable__picture {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restaurants__grid__element__clickable__content {
  background-color: white;
  width: 100%;
  height: 80px;
  border-radius: 0 0 15px 15px;
}

.restaurants__grid__element__clickable__content h3 {
  margin: 10px 0 5px 0;
  padding-left: 4%;
}

.restaurants__grid__element__clickable__content p {
  margin: 0;
  padding-left: 4%;
}

.restaurants__grid__element .far {
  cursor: pointer;
  position: absolute;
  right: 5%;
  bottom: 12%;
  z-index: 1;
  font-size: 1.3em;
}

.restaurants__grid__element .fas {
  cursor: pointer;
  position: absolute;
  right: 5%;
  bottom: 12%;
  z-index: 1;
  font-size: 1.3em;
  color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, #ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 6%, #9356dc 100%);
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.restaurants__grid__element .fas:hover {
  opacity: 1;
}

/* FOOTER */
.footer {
  background-color: #353535;
}

.footer__list {
  width: 90%;
  margin: auto;
  list-style-type: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 20px 0 30px 0;
}

.footer__list li:nth-child(2) {
  margin-top: 20px;
}

.footer__list li:nth-child(n+3) {
  margin-top: 10px;
}

.footer__list__brand {
  font-family: 'Shrikhand', cursive;
  font-size: 1.2em;
}

.footer__list__logo {
  display: inline-block;
  padding-right: 20px;
}

.footer__list__link {
  text-decoration: none;
  color: white;
}

/* ------------------------ */
/* MENU RESTAURANTS */
/* ------------------------ */
.menu-picture {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: -1;
}

.menu {
  width: 100%;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
  margin-top: -57px;
  z-index: 1;
}

.menu__h2 {
  padding: 20px 0 0 3%;
  font-family: 'Shrikhand', cursive;
}

.menu--far {
  font-size: 0.8em;
  padding-top: 10px;
  cursor: pointer;
  position: absolute;
  right: 5%;
  z-index: 1;
}

.menu--fas {
  font-size: 0.8em;
  padding-top: 10px;
  cursor: pointer;
  position: absolute;
  right: 5%;
  z-index: 1;
  color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, #ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 6%, #9356dc 100%);
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.menu--fas:hover {
  opacity: 1;
}

.menu__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.menu__grid__element {
  width: 90%;
  margin: 10px auto;
}

.menu__grid__element__category p:not(:last-child) {
  height: 10px;
}

.menu__grid__element__category p:last-child {
  width: 50px;
  border-bottom: 3px solid #99E2D0;
}

.menu__grid__element__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  border-radius: 10px;
  overflow: hidden;
}

.menu__grid__element__item:hover .menu__grid__element__item__info__name {
  width: 75%;
}

.menu__grid__element__item:hover .menu__grid__element__item__info__description {
  width: 75%;
}

.menu__grid__element__item:hover .menu__grid__element__item__price {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.menu__grid__element__item:hover .menu__grid__element__item__animation {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.menu__grid__element__item:hover .menu__grid__element__item__animation .fa-check-circle {
  -webkit-transform: rotate(-720deg);
          transform: rotate(-720deg);
}

.menu__grid__element__item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

.menu__grid__element__item__info__name {
  width: 90%;
  font-weight: bold;
  margin: 5px;
  padding-left: 1%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__grid__element__item__info__description {
  width: 90%;
  font-size: 0.9em;
  margin: 5px;
  padding-left: 1%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__grid__element__item__price {
  font-weight: bold;
  font-size: 0.7em;
  width: 10%;
  padding-top: 42px;
  -webkit-transition: -webkit-transform 600ms ease-in-out;
  transition: -webkit-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
}

.menu__grid__element__item__animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  height: 100%;
  width: 60px;
  margin: 0 -60px 0 0;
  border-radius: 0 10px 10px 0;
  -webkit-transition: -webkit-transform 600ms ease-in-out;
  transition: -webkit-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
}

.fa-check-circle {
  color: white;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 600ms ease-in-out;
  transition: -webkit-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
}

.item1 {
  -webkit-animation: fadeIn 4s;
          animation: fadeIn 4s;
}

.item2 {
  -webkit-animation: fadeIn 3500ms;
          animation: fadeIn 3500ms;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.item3 {
  -webkit-animation: fadeIn 3000ms;
          animation: fadeIn 3000ms;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.item4 {
  -webkit-animation: fadeIn 2500ms;
          animation: fadeIn 2500ms;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.menu__bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

/* MEDIA QUERIES */
@media all and (min-width: 992px) {
  .operation__grid {
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    padding-bottom: none;
  }
  .operation__grid__element p {
    font-size: 0.8em;
  }
  .restaurants {
    padding-bottom: 40px;
  }
  .restaurants__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 30px;
  }
  .menu__grid {
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=style.css.map */