@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-color-primary: #F6F6F6;

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    &__logo {
        width: 33%;
        height: auto;
    }
}
main {
    font-family: 'Roboto', sans-serif;
}

/* SECTION BOOKING */
.booking {
    display: flex;
    flex-direction: column;
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: #EAEAEA;
        input {
            background-color: #EAEAEA;
            border: none;
            width: 30%;
            &::placeholder {
                font-family: 'Roboto', sans-serif;
                text-align: center;
                font-size: 1.2em;
                font-weight: bold;
                color: black;
            }
        }
    }
}
.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color-primary;
    &__heading {
        width: 60%;
        margin: auto;
        text-align: center;
        margin-top: 35px;
    }
    &__byline {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 15px;
    }
    &__button {
        width: 60%;
        background: rgb(255,121,218);
        background: linear-gradient(180deg, rgba(255,121,218,1) 6%, rgba(147,86,220,1) 100%);
        text-align: center;
        color: white;
        padding: 13px 0;
        border-radius: 40px;
        margin: 30px 0 60px 0;
        box-shadow: 0 8px 8px #CFCFCF;
    }
}

/* SECTION OPERATION */
.h2-heading {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
.operation__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    &__element {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        height: 75px;
        background-color: $background-color-primary;
        margin-top: 20px;
        border-radius: 20px;
        box-shadow: 0 5px 8px #EAEAEA;
        position: relative;
        &__number {
            position: absolute;
            left: 0;
            margin-left: -15px;
            color: $background-color-primary;
            background-color: $color-primary;
            border-radius: 50px;
            padding: 3px 10px;

        }
        &--logo1 {
            color: #7E7E7E;
            position: absolute;
            left: 11%;
        }
        &--logo2 {
            color: $color-primary;
            position: absolute;
            left: 11%;
        }
    }
}

/* SECTION RESTAURANTS */
.restaurants {
    background-color: $background-color-primary;
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        justify-items: center;
    }
}
.restaurants__grid__element {
    width: 90%;
    height: 300px;
    border-radius: 15px;
    margin: 10px 0;
    position: relative;
    &--new {
        position: absolute;
        color: #008766;
        background-color: #99E2D0;
        padding: 3px 12px;
        right: 3%;
        top: 5%;
        border-radius: 2px;

    }
    &__picture {
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    &__content {
        position: absolute;
        bottom: 0;
        background-color: white;
        width: 100%;
        height: 80px;
        border-radius: 0 0 15px 15px;
        color: black;
    }
}
.restaurants__grid__element__content {
    h3 {
        margin: 0;
    }
    p {
        margin: 0;
    }
    .restaurants__grid__element__content__favorite {
        position: absolute;
        right: 5%;
        bottom: 40%;
        &:hover {
            cursor: pointer;
            color: rgb(255,121,218);
            color: linear-gradient(180deg, rgba(255,121,218,1) 6%, rgba(147,86,220,1) 100%);
        }
    }
}

/* FOOTER */
.footer {
    background-color: #353535;
    &__logo {
        font-family: 'Shrikhand', cursive;
    }
    &__list {
        list-style-type: none;
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    &__link {
        text-decoration: none;
        color: white;
    }
}
