@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-color-primary: #F6F6F6;
$color-button_new-and-animation: #99E2D0;
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        z-index: 2;
    }
    99% {
        opacity: 1;
        z-index: 2;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* LOADING SPINNER */
.loader {
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 2;
    opacity: 1;
    animation: fadeOut 2s forwards;
}
.loading-spinner1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 5px solid transparent;
    border-radius: 50%;
    border-top-color: $color-tertiary;
    animation: spin 2500ms linear infinite;
}
.loading-spinner2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 5px solid transparent;
    border-radius: 50%;
    border-right-color: $color-secondary;
    animation: spin 4000ms linear infinite;
}
.accueil {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    &__arrow {
        margin-left: 25px;
        color: black;
    }
    &__logo {
        width: 160px;
        height: auto;
        margin: auto;
    }
}

/* STYLE GLOBAL MAIN */
main {
    font-family: 'Roboto', sans-serif;
}

/* SECTION BOOKING */
.booking {
    display: flex;
    flex-direction: column;
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: #EAEAEA;
        input {
            background-color: #EAEAEA;
            border: none;
            width: 30%;
            &::placeholder {
                font-family: 'Roboto', sans-serif;
                text-align: center;
                font-size: 1.1em;
                font-weight: bold;
                color: black;
            }
        }
    }
}
.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color-primary;
    &__heading {
        width: 60%;
        margin: auto;
        text-align: center;
        margin-top: 35px;
        font-size: 1.2em;
    }
    &__byline {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 15px;
    }
    &__button {
        width: 50%;
        background: linear-gradient(180deg, rgba(255,121,218,1) 6%, rgba(147,86,220,1) 100%);
        text-align: center;
        color: white;
        font-family: 'Roboto', sans-serif;
        padding: 13px 0;
        border: transparent;
        border-radius: 40px;
        margin: 30px 0 60px 0;
        box-shadow: 0 8px 8px #CFCFCF;
        cursor: pointer;
        transition: all 400ms;
        &:hover {
            opacity: 0.8;
            box-shadow: 0 12px 12px #B3B3B3;
        }
    }
}

/* SECTION OPERATION */
.h2-heading {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.operation__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    &__element {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        height: 75px;
        background-color: $background-color-primary;
        margin-top: 20px;
        border-radius: 20px;
        box-shadow: 0 5px 8px #EAEAEA;
        position: relative;
        &__number {
            position: absolute;
            left: 0;
            margin-left: -15px;
            color: $background-color-primary;
            background-color: $color-primary;
            border-radius: 50px;
            padding: 3px 10px;

        }
        &--logo1 {
            color: #7E7E7E;
            position: absolute;
            left: 11%;
        }
        &--logo2 {
            color: $color-primary;
            position: absolute;
            left: 11%;
        }
    }
}

/* SECTION RESTAURANTS */
.restaurants {
    background-color: $background-color-primary;
    h2 {
        padding-top: 50px;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        padding: 20px 0 50px 0;
        &__element {
            width: 90%;
            position: relative;
            &__clickable {
                display: flex;
                flex-direction: column;
                height: 300px;
                text-decoration: none;
                color: black;
                border-radius: 15px;
                margin: 10px 0;
                position: relative;
                &--new {
                    position: absolute;
                    color: #008766;
                    background-color: $color-button_new-and-animation;
                    padding: 3px 12px;
                    right: 3%;
                    top: 5%;
                    border-radius: 2px;
                    font-size: 0.9em;
                }
                &__picture {
                    width: 100%;
                    height: 220px;
                    object-fit: cover;
                    border-radius: 15px 15px 0 0;
                }
                &__content {
                    background-color: white;
                    width: 100%;
                    height: 80px;
                    border-radius: 0 0 15px 15px;
                    h3 {
                        margin: 10px 0 5px 0;
                        padding-left: 4%;
                    }
                    p {
                        margin: 0;
                        padding-left: 4%;
                    }
                }
            }
        .far {
            cursor: pointer;
            position: absolute;
            right: 5%;
            bottom: 12%;
            z-index: 1;
            font-size: 1.3em;
        }
        .fas {
            cursor: pointer;
            position: absolute;
            right: 5%;
            bottom: 12%;
            z-index: 1;
            font-size: 1.3em;
            color: transparent;
            background: linear-gradient(180deg, rgba(255,121,218,1) 6%, rgba(147,86,220,1) 100%);
            -webkit-background-clip: text;
            opacity: 0;
            transition: opacity 500ms;
            &:hover {
                opacity: 1;
            }
        }
        }
    }
}

/* FOOTER */
.footer {
    background-color: #353535;
    &__list {
        width: 90%;
        margin: auto;
        list-style-type: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        padding: 20px 0 30px 0;
        li:nth-child(2) {
            margin-top: 20px;
        }
        li:nth-child(n+3) {
            margin-top: 10px;
        }
        &__brand {
            font-family: 'Shrikhand', cursive;
            font-size: 1.2em;
        }
        &__logo {
            display: inline-block;
            padding-right: 20px;
        }
        &__link {
            text-decoration: none;
            color: white;
        }
    }
}

/* MENU RESTAURANTS */
.menu-picture {
    width: 100%;
    height: 270px;
    object-fit: cover;
    position: relative;
    z-index: -1;
}
.menu {
    width: 100%;
    border-radius: 30px 30px 0 0;
    background-color: $background-color-primary;
    margin-top: -57px;
    z-index: 1;
    &__h2 {
        padding: 20px 0 0 3%;
        font-family: 'Shrikhand', cursive;
    }
    &--far {
        font-size: 0.8em;
        padding-top: 10px;
        cursor: pointer;
        position: absolute;
        right: 5%;
        z-index: 1;
    }
    &--fas {
        font-size: 0.8em;
        padding-top: 10px;
        cursor: pointer;
        position: absolute;
        right: 5%;
        z-index: 1;
        color: transparent;
        background: linear-gradient(180deg, rgba(255,121,218,1) 6%, rgba(147,86,220,1) 100%);
        -webkit-background-clip: text;
        opacity: 0;
        transition: opacity 500ms;
        &:hover {
            opacity: 1;
        }
    }
}
.menu__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    &__element {
        width: 90%;
        margin: 10px auto;
        &__category {
            p:not(:last-child) {
                height: 10px;
            }
            p:last-child {
                width: 50px;
                border-bottom: 3px solid $color-button_new-and-animation;
            }
        }
        &__item {
            cursor: pointer;
            display: flex;
            background-color: white;
            height: 70px;
            width: 100%;
            margin: 15px 0;
            border-radius: 10px;
            overflow: hidden;
            &:hover {
                .menu__grid__element__item__info__name {
                    width: 75%;
                }
                .menu__grid__element__item__info__description {
                    width: 75%;
                }
                .menu__grid__element__item__price {
                    transform: translateX(-60px);
                }
                .menu__grid__element__item__animation {
                    transform: translateX(-60px);
                    .fa-check-circle {
                        transform: rotate(-720deg);
                    }
                }
            }
            &__info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 90%;
                &__name {
                    width: 90%;
                    font-weight: bold;
                    margin: 5px;
                    padding-left: 1%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &__description {
                    width: 90%;
                    font-size: 0.9em;
                    margin: 5px;
                    padding-left: 1%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &__price {
                font-weight: bold;
                font-size: 0.7em;
                width: 10%;
                padding-top: 42px;
                transition: transform 600ms ease-in-out;
            }
        }
    }
}
.menu__grid__element__item__animation { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-button_new-and-animation;
    height: 100%;
    width: 60px;
    margin: 0 -60px 0 0;
    border-radius: 0 10px 10px 0;
    transition: transform 600ms ease-in-out;
}
.fa-check-circle {
    color: white;
    transform: rotate(0);
    transition: transform 600ms ease-in-out;
}
.item1 {
    animation: fadeIn 4s;
}
.item2 {
    animation: fadeIn 3500ms;
    animation-delay: 500ms;
}
.item3 {
    animation: fadeIn 3000ms;
    animation-delay: 1000ms;
}
.item4 {
    animation: fadeIn 2500ms;
    animation-delay: 1500ms;
}
.menu__bouton {
    display: flex;
    justify-content: center;
    margin: auto;
}

/* MEDIA QUERIES */ 
@media all and (min-width: 992px) {
    .operation__grid {
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 1fr;
        &__element {
            p {
                font-size: 0.8em;
            }
        }
    }
    .restaurants {
        padding-bottom: 40px;
        &__grid {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 30px;
        }
    }
    .menu__grid {
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 1fr;
        margin-bottom: 40px;
    }
}