@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* HEADER */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
}

.header__arrow {
  margin-left: 25px;
}

.header__logo {
  width: 160px;
  height: auto;
  margin: auto;
}

/* STYLE GLOBAL MAIN */
main {
  font-family: 'Roboto', sans-serif;
}

/* SECTION BOOKING */
.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.booking__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
}

.booking__form input {
  background-color: #EAEAEA;
  border: none;
  width: 30%;
}

.booking__form input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.booking__form input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.booking__form input::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.booking__form input::placeholder {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.information-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
}

.information-container__heading {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 35px;
}

.information-container__byline {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 15px;
}

.information-container__button {
  width: 60%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, #ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 6%, #9356dc 100%);
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 13px 0;
  border: transparent;
  border-radius: 40px;
  margin: 30px 0 60px 0;
  -webkit-box-shadow: 0 8px 8px #CFCFCF;
          box-shadow: 0 8px 8px #CFCFCF;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.information-container__button:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0 12px 12px #B3B3B3;
          box-shadow: 0 12px 12px #B3B3B3;
}

/* SECTION OPERATION */
.h2-heading {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.operation__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
}

.operation__grid__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 75px;
  background-color: #F6F6F6;
  margin-top: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 8px #EAEAEA;
          box-shadow: 0 5px 8px #EAEAEA;
  position: relative;
}

.operation__grid__element__number {
  position: absolute;
  left: 0;
  margin-left: -15px;
  color: #F6F6F6;
  background-color: #9356DC;
  border-radius: 50px;
  padding: 3px 10px;
}

.operation__grid__element--logo1 {
  color: #7E7E7E;
  position: absolute;
  left: 11%;
}

.operation__grid__element--logo2 {
  color: #9356DC;
  position: absolute;
  left: 11%;
}

/* SECTION RESTAURANTS */
.restaurants {
  background-color: #F6F6F6;
}

.restaurants__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.restaurants__grid__element {
  width: 90%;
  position: relative;
}

.restaurants__grid__element__clickable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  text-decoration: none;
  color: black;
  border-radius: 15px;
  margin: 10px 0;
  position: relative;
}

.restaurants__grid__element__clickable--new {
  position: absolute;
  color: #008766;
  background-color: #99E2D0;
  padding: 3px 12px;
  right: 3%;
  top: 5%;
  border-radius: 2px;
}

.restaurants__grid__element__clickable__picture {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restaurants__grid__element__clickable__content {
  background-color: white;
  width: 100%;
  height: 80px;
  border-radius: 0 0 15px 15px;
}

.restaurants__grid__element__clickable__content h3 {
  margin: 10px 0 5px 0;
}

.restaurants__grid__element__clickable__content p {
  margin: 0;
}

.restaurants__grid__element .far {
  cursor: pointer;
  position: absolute;
  right: 5%;
  bottom: 9%;
  z-index: 1;
}

.restaurants__grid__element .fas {
  cursor: pointer;
  position: absolute;
  right: 5%;
  bottom: 9%;
  z-index: 1;
  color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, #ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 6%, #9356dc 100%);
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.restaurants__grid__element .fas:active {
  opacity: 1;
}

/* FOOTER */
.footer {
  background-color: #353535;
}

.footer__list {
  list-style-type: none;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.footer__list__logo {
  font-family: 'Shrikhand', cursive;
}

.footer__list__link {
  text-decoration: none;
  color: white;
}

/* MENU LA PALETTE DU GOUT */
.picture-menu {
  width: 100%;
  height: 250px;
  margin-bottom: 0;
}

.picture-menu__photo {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.la-palette {
  width: 100%;
  height: 1000px;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  margin-top: 0;
}

.h2-menu {
  font-family: 'Shrikhand', cursive;
  padding-top: 20px;
}

.menu__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.menu__grid__element__item {
  background-color: white;
  margin: 10px 0;
  border-radius: 10px;
}

.menu__grid__element__item:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */